.app {
    height: 100vh;
}

.app.day-mode {
    background-color: rgb(255 166 0 / 68%)
}

.app.night-mode {
    background-color: rgb(35, 34, 33);
}

.MuiFormLabel-root.Mui-focused {
    color: #fff !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(255 255 255 / 9%) !important;
}