html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

input:focus {
    box-shadow: none !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(255 255 255 / 9%) !important;
}

.current-day {
    overflow: hidden;
    box-shadow: rgb(226, 226, 226) 0px 0px 30px 6px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.current-day h6 {
    font-size: 40px;
    color: #252525;
}

.current-day p {
    font-size: 30px;
    font-weight: 600;
    color: #252525;
    margin-bottom: 0px;
}

.current-day .current-day-condition {
    font-size: 20px;
    text-transform: capitalize;
}

.description .description-name {
    font-size: 16px !important;
    padding: 5px;
    color: #252525;
    margin-left: 10px;
    margin-right: 10px;
}

.description .description-current-data {
    background-color: #252525;
    margin: 5px;
    border-radius: 10px;

}

.description .description-data {
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width:992px) {
    .current-day {
        margin-top: 10px;
    }

    .current-day h6 {
        font-size: 30px;
    }

    .current-day p {
        font-size: 20px;
    }

    .weather-card {
        padding: 0px;
    }
}